.top-body {
    display: flex;
    align-items: center;
    gap: 25px;
}

.select_item {
    display: flex;
}

.card-body-register label {
    width: 50%;
}

.select_item label {
    width: 33%;
}

.register-input {
    display: flex;
    margin-top: 10px;
    width: 170%;
}