.container_list {
    height: 88vh;
    overflow: scroll;
}

.card-body span {
    margin-left: 10px;
}

.sub-title {
    font-size: 1.5rem;
    margin-bottom: unset;
}

.criteria {
    margin-bottom: 2rem;
}

.btn-send-div {
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
}

.btn-send {
    background-color: green;
    color: white;
    border-radius: 20px;
    width: 12vw;
    border: aliceblue;
    height: 6vh;
    font-size: 1.2rem;
}

